{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<style>
    img {
        width: 400px;
        height: 300;
    }
</style>
<div class="bd-content ps-lg-2">

    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="fs-1 text-body-secondary">{{ object_list.name }}</p>
            <img src="{{ object_list.preview | my_media }}"/>
        </div>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="fs-4 text-body-secondary">{{ object_list.description }}</p>
        </div>
    </header>

</div>
{% endblock %}